<div id="footer-container">
    <div id="footer-copyright">Copyright Minim Website 2018</div>
    <div id="footer-nav">
        <span class="footer-link">first</span>
        <span class="footer-link">second</span>
        <span class="footer-link">third</span>
        <span class="footer-link">fourth</span>
        <span class="footer-link">fifth</span>
        <span class="footer-link">sixth</span>
    </div>
    <div id="footer-sns">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Facebook_circle_pictogram.svg" width="20" height="20"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg" width="20" height="20"/>
        <img src="https://image.flaticon.com/icons/svg/145/145812.svg" width="20" height="20"/>
    </div>
</div>