<div class="home-page-indoor-outdoor-container">
    <div class="home-page-outdoor-container">
        <span class="item-version">1.1</span>
        <span class="item-category">Outdoors</span>
        <span class="shop">shop</span>
        <img class="item-image" src="assets/sphere.png" width="400" height="320" />
        <div class="shop-button">
            Shop Outdoors
        </div>
    </div>
    <div class="home-page-indoor-container">
        <span class="item-version">1.1</span>
        <span class="item-category">Indoors</span>
        <span class="shop">shop</span>
        <img class="item-image" src="assets/sphere.png" width="400" height="320" />
        <div class="shop-button">
            Shop Indoors
        </div>
    </div>
    <div class="references">
        <div>046</div>
        <div>047</div>
        <div>048</div>
    </div>
</div>