#home-page-collections-container
    margin-top: 200px
    display: flex
    flex-direction: column

    app-home-page-shop-header
        margin-bottom: 150px

    .home-page-collections-row
        display: flex
        flex-grow: 1

        #home-page-collections-description
            width: 300px

            > span
                font-size: 14px

            > div
                margin-top: 50px
                width: fit-content
                border-bottom: 1px solid black
                font-size: 16px
                font-weight: 500

        app-product-card
            flex-grow: 10