<div id="home-page-collections-container">
    <app-home-page-shop-header title="Collections"></app-home-page-shop-header>
    <div class="home-page-collections-row">
        <div id="home-page-collections-description">
            <span>
                Bacon ipsum dolori amet meat, tri-tip andouille, picanha bacon salami burgdogghen turducken chuck pig t-bone
            </span>
            <div id="see-all-collections-button">
                See all collections
            </div>
        </div>
        <app-product-card [product]="items[0]"></app-product-card>
    </div>
</div>