<div id="home-page-collections-container">
    <app-home-page-shop-header title="Collections"></app-home-page-shop-header>
    <div class="home-page-collections-row">
        <div id="home-page-collections-description">
            <span>
                Bacon ipsum dolori amet meat, tri-tip andouille, picanha bacon salami burgdogghen turducken chuck pig t-bone
            </span>
            <div id="see-all-collections-button">
                See all collections
            </div>
        </div>
        <div class="home-page-collections-item">
            <img src="{{items[0].imageUrl}}" width="400" height="300" />
            <div>
                <span id="item-version">{{items[0].version}}</span>
                <span id="item-edition">{{items[0].edition}} edition</span>
                <span id="item-name">{{items[0].name}}</span>
            </div>
        </div>
    </div>
    <div class="home-page-collections-row">
        <div class="home-page-collections-item">
            <img src="{{items[1].imageUrl}}" width="400" height="300" />
            <div>
                <span id="item-version">{{items[1].version}}</span>
                <span id="item-edition">{{items[1].edition}} edition</span>
                <span id="item-name">{{items[1].name}}</span>
            </div>
        </div>
        <div class="home-page-collections-item">
            <img src="{{items[2].imageUrl}}" width="400" height="300" />
            <div>
                <span id="item-version">{{items[2].version}}</span>
                <span id="item-edition">{{items[2].edition}} edition</span>
                <span id="item-name">{{items[2].name}}</span>
            </div>
        </div>
    </div>
</div>