<div class="home-page-shop-container">
    <div class="home-page-shop-categories-container">
        <span class="home-page-shop-title">Shop</span>
        <div class="home-page-shop-vertical-spacing"></div>
        <div class="home-page-shop-categories">
            <a class="home-page-shop-category" *ngFor="let category of categories"
                [ngClass]="getCategorySelectedClass(category)"
                (click)="handleCategoryClick(category)"
            >
                {{category}}
            </a>
        </div>
    </div>
    <div class="home-page-shop-carousel">
        <app-carousel [items]="selectedItems"></app-carousel>
    </div>
</div>