.header-container
    display: flex

.header-lead-buttons
    display: flex
    flex-grow: 1

.header-home-title
    display: flex
    flex-grow: 2
    justify-content: center
    font-size: 30px
    font-weight: bold

.header-trail-buttons
    display: flex
    flex-grow: 1
    justify-content: flex-end
    > *
        display: flex
        flex-grow: 1
        justify-content: flex-end
    > div:first-child
        font-size: 16px
        font-weight: 500
        flex-grow: 2
        justify-content: flex-end



    // > mat-icon > span
    //     background-color: grey

.header-menu-button
    border: none
    background-color: black
    color: white
    border-radius: 50%
    height: 34px
    width: 34px
    &:hover
        cursor: pointer
    .mat-icon
        margin-left: -1px
        margin-top: 3px