<div id="product-list-page-header">
    <div></div>    
    <div></div>    
</div>
<div id="product-list-container">
    <div id="product-list-header">
        <div id="product-list-title">Home - H2</div>
        <div id="product-list-sort-by">
            <div id="product-list-sort-by-text">Sort by :</div>
            <div class="product-list-sort-by-button">Price</div>
            <div class="product-list-sort-by-button">Designer</div>
        </div>
    </div>
    <div id="product-list-filters">
        <div id="product-list-filters-title">Home Decor</div>
        <div *ngFor="let filter of filters" class="product-list-filter" (click)="removeFilter(filter)">
            <span>X</span>{{filter}}
        </div>
        <div id="product-list-filter-by">
            filter by
            <input [(ngModel)]="filter" placeholder="name / designer / price" />
            <button (click)="submitFilter()">Submit</button>
        </div>
    </div>
    <div id="product-list-table">
        <div
            class="product-list-item"
            *ngFor="let item of displayableItems"
        >
            <app-product-card [product]="item"></app-product-card>
        </div>
    </div>
    <div id="product-list-pagination">
        <div (click)="goToPreviousPage()">Previous</div>
        <div>{{currentPage}}/{{totalPage}}</div>
        <div (click)="goToNextPage()">Next</div>
    </div>
</div>