<div id="pop-up-container" mat-dialog-content>
    <div id="pop-up-close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </div>
    <div id="pop-up-contents">
        <div id="pop-up-image">
            <img 
                width="400"
                height="300"
                src="https://lh4.googleusercontent.com/proxy/_UZQNeXpfpbwHcxJLZU8ocEju8R7PY3GJODrEZItkl5PYZ0ZdbM7h3wQvj67T-Jo5zDomVnZfClQIocHEM1MrCZ0O77iF80z3ha_W20CBVjwtpU_BmIQ0n31bmYL10g"
            />
        </div>
        <div id="pop-up-texts">
            <div id="pop-up-title">Need Help ?</div>
            <div id="pop-up-description">Start a live call with us now to have us attend to any of you enquiries.</div>
            <div id="pop-up-buttons">
                <div id="pop-up-start-chat-button">Start Live Chat</div>
                <div id="pop-up-call-back-button">Request for call back</div>
            </div>
        </div>
    </div>
</div>
