#popular-container
    margin-top: 200px
    display: flex
    flex-direction: column
    
    #popular-items-list
        margin-top: 50px
        display: flex
        flex-wrap: wrap
        
        .popular-item-container
            display: flex
            flex-basis: 315px

            > app-product-card
                display: flex
                flex-grow: 1
                justify-content: center
         
                

