<div id="popular-container">
    <div id="popular-header">
        <div id="popular-titles">
            <div>Popular</div>
            <div>Shop</div>
        </div>
        <div id="popular-pagination">
            <div>Previous</div>
            <div>Next</div>
        </div>
    </div>
    <div id="popular-items-list">
        <div
            class="popular-item-container"
            *ngFor="let item of items"
        >
            <app-product-card [product]="item"></app-product-card>
        </div>
    </div>
</div>